*{
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    font-family: "標楷體";
}
body>*:not(aside,section),
aside>*,
section>*
{
    border: 1px solid lightgray;
}
body{
    
    width: 1024px;
    height: 768px;
}
.top{
    width: 1000px;
    height: 65px;
}
main{
    width: 1000px;
    height: calc(768px - 65px - 20px);
    display:flex;
    justify-content: center;
}
aside{
    width: 215px;
    height: 100%;
    font-weight: 500;
}
aside .menu{
    width:215px;
    height: calc(100% - 25px);
}
aside .menu-header{
    width: 50%;
    font-size: 24px;
    font-weight: 500;
    padding:4px ;
    border-bottom: 1px solid #000;
    color: #f0f;
}
aside a{
    display:block;
    margin:12px auto;
    text-decoration: none;
    width: 200px;
    height: 35px;
    background: url("/images/menu1.png") no-repeat;
    color: #000;
    line-height: 35px;
}

#menuBtn {
    text-decoration: underline;
    color:#00f;
}
aside a:hover{
    background: url("../images/menu2.png") no-repeat;
}
aside .update{
    width: 215px;
    height: 25px;
    line-height: 25px;
}
section{
    width: 781px;
    height: 100%;
}
section marquee{
    width: 770px;
    height: 29px;
    font-size: 24px;
    line-height: 29px;
    text-align: start;
    font-size: 24px;
    color:#00f;
}

section .content{
    width: 770px;
    height: calc(100% - 31px );
}
footer{
    width: 1000px;
    height: 20px;
    line-height: 20px;
}
iframe{
    width: 100%;
    height: 100%;
}
